.one:last-child {
  border-right: none;
}

.rounded-pill {
  border-radius: var(--bs-border-radius-pill) !important;
}
.event {
  font-size: 12px;
  margin-top: 6px;
  border-left: 4px;
  padding: 4px 6px;
  border-radius: 4px;
}
.not-visible {
  visibility: hidden;
}
.visible {
  visibility: visible;
}

div.page {
  overflow: auto;
}

h2 { text-align: center; }


nav {
  width: 10%;
  float: left;
}

section {
  margin-left: 15%;
  margin-right: 5%;
}

